* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url('./assets/image/employees.jpg');
    background-size: 441px;
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 100%;
    min-height: 100vw;
}

@media (max-width: 481px) {
    body {
        background-size: 330px;
    }
}